.navbar {
    border: none;
}

.navbar .container {
    padding-right: 0px;
}

.navbar-brand {
    font-size: 25px;
    font-weight: lighter;
    margin-right: 50px;
}

.navbar-nav {
    font-weight: lighter;
}

.navbar-nav .label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

body {
    background-color: #E9EAEC;
    padding-bottom: 70px;
}

footer {
    height: 50px;
    background-color: #34495E;
    clear: both;
}

footer p {
    color: #A3A3A3;
    font-size: small;
    text-align: center;
    margin-top: 18px;
}

